html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
}

/* Наследование размеров блока для всех элементов от родителя */
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Цвет наследуется от родительского элемента */
a {
  color: currentColor;
}
