:root {
  --bg-main-color: rgba(255, 255, 255, 0.7);
  --bg-main-shadow-color: rgba(0, 0, 0, 0.15);
  --bg-main-btn-color: #18b346;
  --bg-main-btn-transition-color: #0bda51;
  --text-main-btn-color: #fff;
  --bg-main-like-color: #ff0033;
  --bg-main-card-color: #f8f7f7;
}