.card {
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__title {
  font-size: 18px;
  margin: 0;
  padding: 0px 5px 5px;
}

.card__image {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: .3s;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.7;
}

.card__footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 5px;
}

.card__footer-like {
  color: var(--bg-main-like-color);
}