.card {
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__title {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
}

.card__title__text {
  font-size: 18px;
  margin: 0;
  padding: 0px 5px 0px;
}

.card__title__edit, .card__title__remove {
  padding: 5px;
  transition: .05s;
  cursor: pointer;
}

.card__title__edit:hover,
.card__title__remove:hover {
  transform: scale(1.2);
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;

}

.card__image img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
  transition: .1s;
}

.card__image img:hover {
  opacity: 0.7;
  filter: blur(3px);
}

.card__footer {
  display: flex;
  justify-content:space-between;
  align-content: center;
  padding: 5px;
}

.card__footer-like {
  color: var(--bg-main-like-color);
}

.card__hover {
  position: absolute;
  z-index: 6;
  pointer-events: none;
  visibility: hidden;
}

.hover_active {
  visibility: visible;
}